* {
  box-sizing: border-box;
  font-family: Helvetica;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
}
/*Navigation*/
.navigation {
  display: flex;
  height: 60px;
  margin: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #101820;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1365px) {
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.navigation__wrapper {
  height: 50px;
  width: 1200px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101820;
  z-index: 100;
}
.links-wrapper {
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1365px) {
  .links-wrapper {
    display: none;
  }
}
.link__text {
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 300ms ease-out;
}
.link {
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link:not(:last-child) {
  margin-right: 40px;
}

.link--button {
  height: 40px;
  padding: 0 30px;
  border-radius: 30px;
  background-color: #008550;
  transition: background-color 300ms ease-out;
}

.link:hover .link__text {
  color: #89e6d9;
}

.link:hover .link--button {
  color: white;
  background-color: #89e6d9;
}
.mobile-mini-menu {
  border: 0px solid #282828;
  background-color: #282828;
  position: absolute;
  width: 150px;
  top: 100px;
  transition: top 300ms ease-out;
  display: none;
}
.link:hover .mobile-mini-menu {
  display: flex;
  top: 60px;
}
.mobile-mini-menu:hover {
  display: flex;
}
.mobile-links {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.mobile-link {
  font-weight: bolder;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  transition: color 300ms ease-out;
}
.mobile-link:first-child {
  margin-top: 30px;
}
.mobile-link:last-child {
  margin-bottom: 30px;
}
.mobile-photo {
  display: flex;
  align-self: end;
  height: 50%;
}
.mobile-link:hover {
  color: #89e6d9;
}
.hamburger {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 1365px) {
  .hamburger {
    display: block;
  }
  .hamburger > div {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 3px;
  }
}
.hidden {
  opacity: 0;
  position: absolute;
  top: -100px;
  left: -100px;
}
.navigation__wraper-mobile {
  display: none;
}
@media screen and (max-width: 1365px) {
  .navigation__wraper-mobile {
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    right: -320px;
    transition: right 300ms ease-out;
    padding: 20px;
  }
}
.hidden:checked ~ .navigation__wraper-mobile {
  right:0;
}
.hidden:checked ~ .hamburger{
  top:30px;
}
.hidden:checked ~ .hamburger > div:nth-child(1){
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: translate(0px, 10px) rotate(45deg);
}
.hidden:checked ~ .hamburger > div:nth-child(2){
  width: 0%;
  opacity: 0;
}
.hidden:checked ~ .hamburger > div:nth-child(3){
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: translate(0px, -12px) rotate(-45deg);
}
.mobile-center {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.link:checked .mobile-mini-menu {
  display: flex;
  top: 65px;
}

h4 {
  font-size: 34px;
  color: white;
  font-family: sans-serif;
  margin-bottom: 20px;
}
h1 {
  font-family: serif;
  font-size: 60px;
  color: white;
}
@media screen and (max-width: 875px) {
  h4 {
    font-size: 28px;
  }
  h1 {
    font-size: 50px;
  }
}

.banner{
  width: 100%;
}
.featuredProductsText{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 90px;
  margin-bottom: 20px;
}
.featuredProductsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.productCard{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 0 4px 10px 0px rgb(238, 238, 238);
  padding: 5px;
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
}
.productCard:hover{
  box-shadow: 0 4px 10px 5px rgb(238, 238, 238);
  transform: scale(1.02);
}
.productImage{
  width: 20vw;
  border-radius: 15px;
}
@media (max-width: 640px) {
  .productImage {
      width: 40vw;
  }
}
.productName{
  margin-top: 5px;
}
.priceAndCartContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productPrice{
  display: flex;
  align-items: center;
}
.shoppingCartIcon{
  height: 25px;
}
.shoppingCartIcon:hover{
  cursor: pointer;
  transform: scale(1.11);
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #101820;
  align-items: center;
  color: white;
  padding-top: 10px;
}
.socialMediaIconContainer {
  display: flex;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
}
.socialMediaIconContainer ion-icon {
  color: white;
  font-size: 22px;
  margin: 15px;
  margin-top: 10px;
  background-color: #101820;
}
.socialMediaIconContainer ion-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.newArrivalsText{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}
.newArrivalsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}